/* You can add global styles to this file, and also import other style files */
@import '/node_modules/primeflex/primeflex.css';
@import "primeicons/primeicons.css";
.text-shadow{
    text-shadow: 4px 4px 30px #c7cae055;
}
body{
    background-color: #040d19 !important;
    font-family: "Segoe UI", helvetica, roboto, Arial, Helvetica, sans-serif !important;
}
a{
    text-decoration: none;
}