<div class="content grid flex align-items-center flex-wrap">
    <div class="col-7">
        <div class="pl-6">
            <div class="content-tertiary capitalize">
                <h3 class="text-2xl font-semibold text-center p-3  ">Hello World! I am Aldo Armenta</h3>
            </div>
            <div class="content-primary">
                <h1 class="font-bold text-7xl">A Jr <span class="text-primary-500 text-shadow">Full-stack developer</span>. </h1>
            </div>
            <div class="content-secondary">
                <p class="lowercase text-xl font-normal text-justify" style="letter-spacing: .1em;">
                    I am a JR Full-Stack developer with a one year of expirience. <br>
                    recognized as a practical and effective developer, <br> 
                    with experience in generating cross-functional projects <br> 
                    in an environment with little time to complete them on time and within budget.
                </p>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="text-center">
            <img src="/assets/img/portafolio_pic.jpg" alt="" class="w-8 border-circle">
        </div>
    </div>
</div>
<section class="flex flex-column align-items-center justify-content-center">
    <div class="mt-4">
        <p-chip>
            <h2 class="text-2xl uppercase">Tooling</h2>
        </p-chip>
    </div>
    <div class="w-6">
        <div class="tooling-section mt-4">
            <p-card >
                <div class="card flex justify-content-evently flex-wrap gap-3 ">
                    <p-chip *ngFor="let tool of toolingArr">
                        <div class="p-2 text-2xl">{{tool}}</div>
                    </p-chip>
                    
                </div>
            </p-card>
        </div>
    </div>
</section>
<!-- proyectos univeritarios, freelance o personales // side proyects, freelance jobs, universitary proyects  -->
<section >
    proyectos univeritarios, freelance o personales // side proyects, freelance jobs, universitary proyects
</section>
<section>
    cursos certificaciones y educacion // courses, certifications, education
</section>
<section>
habilidades // soft skills 
</section>
<section>
testimonios y referencias // testimonials and references
</section>

<section>
    Enlaces a Redes Sociales y Perfiles Profesionales // gitHub, LinkedIn, hakerRanck, fiver
</section>