<div class="content grid align-items-center">
    <div class="col-7 fadeinleft animation-duration-2000">
        <div class="pl-6 md:p-0">
            <div class="content-tertiary capitalize xl:w-6 lg:w-7 md:w-full w-full">
                <h3 class="xl:text-2xl lg:text-xl  font-semibold text-center xl:p-3 lg:p-3 md:p-3 sm:p-3 p-3">Hello World! I am Aldo Armenta</h3>
            </div>
            <div class="content-primary">
                <h1 class="font-bold xl:text-9xl lg:text-7xl md:text-4xl ">A Jr <span class="text-primary-500 text-shadow">Full-stack developer</span>. </h1>
            </div>
            <div class="content-secondary">
                <p class=" text-xl md:text-lg font-normal text-justify ">
                    I am a JR Full-Stack developer with a one year of expirience.
                    recognized as a practical and effective developer,
                    with experience in generating cross-functional projects 
                    in an environment with little time to complete them on time and within budget.
                </p>
            </div>
        </div>
    </div>
    <div class="col-5 fadeinright animation-duration-2000">
        <div class="text-center">
            <img src="assets/img/portafolio_pic.jpg" alt="" class="xl:w-9 lg:w-9 md:w-full w-8  border-circle">
        </div>
    </div>
</div>
<section class="flex flex-column align-items-center justify-content-center">
    <div class="mt-5">
        <p-chip>
            <h2 class="text-2xl uppercase">Tooling</h2>
        </p-chip>
    </div>
    <div class="w-6">
        <div class="tooling-section mt-4">
            <p-card >
                <div class="card flex justify-content-evently flex-wrap gap-3">
                    <p-chip *ngFor="let tool of toolingArr">
                        <div class="p-2 text-2xl">{{tool}}</div>
                    </p-chip>
                    
                </div>
            </p-card>
        </div>
    </div>
</section>
<!-- proyectos univeritarios, freelance o personales // side proyects, freelance jobs, universitary proyects  -->
<section >
    <app-project-slider></app-project-slider>
</section>
<section class="flex flex-column align-items-center ">
    <app-education></app-education>
</section>
<!-- <section>
habilidades // soft skills 
</section>
<section>
testimonios y referencias // testimonials and references
</section> -->

<section>
    <app-social-networks></app-social-networks>
</section>